
p {
    display: inline;
}

.container {
    position: absolute;
    background-image: url("./img/20200622_225004.jpg");
    height: 100%;
    width: 100%;
    background-size: 100% 100%;
    font-family: 'Roboto', sans-serif;
    background-attachment: fixed;
    background-repeat: no-repeat;
    border-color: aliceblue;
    color: black;
    
}

.buttons {
    position: relative;
    width: 80%;
    margin: 8%;
}

button {
 width: 15%;
 background-color: rgb(255, 255, 255, 0);
 background-size: 100%;
 border: none;
 padding: 0px;
}

button::after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.timetablebutton {
    background-image: url('./img/aikataulu.png');
    background-repeat: no-repeat;
    margin-right: 10%;
}

.bikebutton {
    background-image: url('./img/pyora.png');
    background-repeat: no-repeat;
    margin-right: 10%;
}

.listbutton {
    background-image: url('./img/lista.png');
    background-repeat: no-repeat;

}

.time {
    position: absolute;
    padding: 5%;
    width: 40%;
    font-size: 3.5vh;
    text-align: center;
}



.timetable {
    position: absolute;
    margin-left: 8%;
    border-radius: 20px;
    width: 84%;
    background: rgb(255, 255, 255, .5);
}

tr {
    font-size: 1.6vh;
}

tr:nth-child(even) {
    background: rgb(255, 255, 255, .3);
}

.realtimeArrival {
    text-align: center;
}

.headsign {
    table-layout: fixed;
    width: 50%;
}

.notes {
    margin-top: 4%;
    margin-left: 8%;
    border-width: 5px;
    border-radius: 20px;
    padding: 10px;
    width: 82%;
    font-size: 2vh;
    background: rgb(255, 255, 255, .5);
}

.shortName {
    width: 20%;
    text-align: center;
}

.bikes {
    margin-top: 4%;
    margin-left: 8%;
    border-width: 5px;
    border-radius: 20px;
    padding: 10px;
    width: 82%;
    font-size: 2vh;
    background: rgb(255, 255, 255, .5);
}

.wea {
    position: absolute;
    width: 40%;
    margin-left: 50%;
    padding: 5%;
    font-size: 2vh;
    text-align: center;
    

}

.temperature {
    position: absolute;
    margin-top: 0%;
    margin-left: 5%;
    font-size: 3.3vh;
    text-align: center;
}

.time-weather {
    position: relative;
    margin: 8%;
    height: 15%;
    border-radius: 20px;
    border-width: 5px;
    background: rgb(255, 255, 255, .5);

}

.icon {
    margin-top: -7%;
}

.windicon {
    max-width: 20%;
}

.windspeed {
    position: absolute;
    padding-top: 12%;
}

footer {
    position: absolute;
    top: 1905px;
    height: 15px;
    width: 1080px;
    font-size: 10px;
    background-color: rgb(0, 0, 0, .25);
    text-align: center;
    
}